<html>
<head>
<title>Login and Registration From Design</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="login-page"></div>
	<div class="form">
		<form class="register-form" action="" method="post">
			<input type="text" placeholder="Username" name="username" />
			<input type="password" placeholder="Password" name="password" />
			<input type="submit" value="Login" />
			<input type="hidden" name="flag" value="0" />
			<p class="message"> Not yet Registered? <a href="#"> Sign Up </a>
		</form>

		{% if error %}
		<p class="error">
			<strong>Error:</strong> {{ error }}
			{% endif %}

			<form class="Signup-form" action="" method="post">
		<p> profile </p>
		<input type="text" placeholder="Username" name="newuser" />
		<input type="text" placeholder="Email" name="newemail"/>
		<input type="text" placeholder="Password" name="newpassword"/>

		<p> Address </p>
		<input type="text" placeholder="Barangay/Town" name="newtown"/>
		<input type="text" placeholder="City" name="newcity"/>
		<input type="text" placeholder="Province" name="newprovince"/>

		<p> Risk Factor </p>
		<input type="text" placeholder="High Risk(Asthma, Other major illness)" />
		<input type="text" placeholder="Slight Risk(Fever, low Immune System, etc.)" />
		<input type="text" placeholder="Living with High Risk Family Members" />
		<input type="text" placeholder="Number of Cases: 1,193" />



		<p> Production Machine </p>
		<input type="radio" id="Desktop" value="Desktop Machine">
		<label for="Desktop"> Desktop Machine </label>

		<input type="radio" id="Laptop" value="Laptop Machine">
		<label for="Laptop"> Laptop Machine </label>
		<input type="hidden" name="flag" value="1" />
		<input type="submit" value="Register" />
		<p class="message"> Already have an Account? <a href="#">Sign in</a></p>
		</form>

		<script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>

		<script>
			$('.message a').click(function () {
				$('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
			});
		</script>

	</div>
	</div>

</html>