@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.sidebar-fixed {
    height:100vh;
    width:270px;
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    z-index:1050;
    background-color:whitesmoke;
    padding:0 1.5rem 1.5rem}.sidebar-fixed .list-group .active{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-border-radius:5px;
    border-radius:5px}.sidebar-fixed .logo-wrapper{padding:2.5rem}.sidebar-fixed .logo-wrapper img{max-height:50px}@media (min-width:1200px){.navbar,.page-footer,main{padding-left:270px}}@media (max-width:1199.98px){.sidebar-fixed{display:none}}
 
  .map-container{
      overflow:hidden;
      padding-bottom:100%;
      position:relative;
      height:0;
  }            
  .map-container iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }

.message_error{
    margin: 10px 0px;
    padding: 12px;
    color: #D8000C;
    background-color: #FFD2D2;
}

.message_error i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align:middle;
}